---
- name: Hardening system
  hosts: localhost

  vars_files:
    - _vars_base.yml
    - default.hardening.vars.yml

  pre_tasks:
    - name: Preparatory steps
      block:
        - name: Include pkgs list
          include_vars: '{{ item }}'
          with_fileglob:
            - '{{ repo_root_path }}/hardening.vars.yml'
      tags: prepare

  roles:
    - role: hardening_ansible_role
      tags: hardening
