---
- name: Install themes
  hosts: localhost

  vars_files:
    - _vars_base.yml

  pre_tasks:
    - name: Install dbus-tools
      dnf:
        name: dbus-tools
        state: latest
        update_cache: true
        install_weak_deps: false
      become: true
      when: ansible_distribution=="Fedora"
      tags: prepare

  tasks:
    # Fedora (Gnome)
    - name: Install Fedora themes
      block:
        - name: Install adw-gtk3-theme
          block:
            - name: Install adw-gtk3-theme to Fedora
              dnf:
                # name: [ papirus-icon-theme ]
                name: adw-gtk3-theme
                state: latest
                update_cache: true
                install_weak_deps: false
              become: true
            - name: Apply adw-gtk3-theme on Gnome DE
              community.general.dconf:
                key: /org/gnome/desktop/interface/gtk-theme
                value: "'adw-gtk3-dark'"
                state: present
          tags: adw-gtk3

        - name: Install yaru-theme
          block:
            - name: Install yaru-theme to Fedora
              dnf:
                name: yaru-theme
                state: latest
                update_cache: true
                install_weak_deps: false
              become: true
            - name: Apply yaru-theme on Gnome DE
              community.general.dconf:
                key: '{{ dconf_setting.key }}'
                value: '{{ dconf_setting.value }}'
              loop:
                - {key: /org/gnome/desktop/interface/accent-color, value: "'orange'"}
                - {key: /org/gnome/desktop/interface/color-scheme, value: "'prefer-dark'"}
                - {key: /org/gnome/desktop/interface/cursor-theme, value: "'Yaru'"}
                - {key: /org/gnome/desktop/interface/gtk-theme, value: "'Yaru-dark'"}
                - {key: /org/gnome/desktop/interface/icon-theme, value: "'Yaru-dark'"}
                - {key: /org/gnome/desktop/sound/theme-name, value: "'Yaru'"}
                - {key: /org/gnome/shell/extensions/user-theme/name, value: "'Yaru-dark'"}
              loop_control:
                loop_var: dconf_setting
          tags: yaru

        # - name: Install flatpak themes
        #   block:
        #     - name: Check flathub repo
        #       shell:
        #         cmd: |
        #           flatpak remote-list | grep "flathub" >/dev/null
        #           echo "$?"
        #       register: flatpak_return
        #     - name: Install themes
        #       block:
        #         - name: Install adw-gtk3 theme
        #           flatpak:
        #             name: org.gtk.Gtk3theme.adw-gtk3-dark
        #             state: present
        #       when: flatpak_return.stdout=="0"

        # - name: Enable themes
        #   shell:
        #     cmd: dconf load / <"{{ dconf_path }}/gnome_theme.dconf"
        #   environment:
        #     DBUS_SESSION_BUS_ADDRESS: unix:path=/run/user/{{ uid }}/bus

      when:
        - ansible_distribution=="Fedora"
        - (ansible_env.XDG_SESSION_DESKTOP | default('')) == 'gnome'

    # Debian (Mate)
    - name: Install themes
      block:
        - name: Create local dirs
          include_tasks: '{{ ansible_path }}/_create_local_dirs.yml'

        - name: Set theme path
          set_fact:
            matcha_gtk_theme_path: '{{ local_opt_path }}/matcha_theme'
            qogir_icon_theme_path: '{{ local_opt_path }}/qogir_theme'

        - name: Install Matcha GTK Theme
          block:
            - name: Clone Matcha theme repo
              git:
                repo: https://github.com/vinceliuice/Matcha-gtk-theme.git
                dest: '{{ matcha_gtk_theme_path }}'
                version: master
                clone: true
                update: true
            - name: Install Matcha theme
              shell:
                cmd: bash {{ matcha_gtk_theme_path }}/install.sh

        - name: Install Qogir Icon Theme
          block:
            - name: Clone Qogir theme repo
              git:
                repo: https://github.com/vinceliuice/Qogir-icon-theme.git
                dest: '{{ qogir_icon_theme_path }}'
                version: master
                clone: true
                update: true
            - name: Install Qogir theme
              shell:
                cmd: bash {{ qogir_icon_theme_path }}/install.sh

        # - name: Install flatpak themes
        #   block:
        #     - name: Check flathub repo
        #       shell:
        #         cmd: |
        #           flatpak remote-list | grep "flathub" >/dev/null
        #           echo "$?"
        #       register: flatpak_return
        #     - name: Install themes
        #       block:
        #         - name: Install Matcha-dark-aliz GTK theme
        #           flatpak:
        #             name: org.gtk.Gtk3theme.Matcha-dark-aliz
        #             state: present
        #       when: flatpak_return.stdout=="0"

        - name: Enable themes
          shell:
            cmd: dconf load / <"{{ dconf_path }}/mate_theme.dconf"
          environment:
            DBUS_SESSION_BUS_ADDRESS: unix:path=/run/user/{{ uid }}/bus

        - name: Set LightDM themes
          block:
            - name: Set LightDM GTK theme
              lineinfile:
                dest: /etc/lightdm/lightdm-gtk-greeter.conf
                regexp: ^theme-name =
                line: theme-name = Matcha-dark-aliz
                state: present
            - name: Set LightDM icon theme
              lineinfile:
                dest: /etc/lightdm/lightdm-gtk-greeter.conf
                regexp: ^icon-theme-name =
                line: icon-theme-name = Qogir-ubuntu-dark
                state: present
          become: true

      when: ansible_distribution=="Debian"
      tags: themes
