---
- name: Install Fatpak packages
  hosts: localhost
  become: true
  vars_files: [./vars.yml]

  tasks:
    # Prepare
    - name: Prepare steps
      block:
        - name: Install flatpak
          include_tasks: '{{ ansible_path }}/_install_flatpak.yml'

        - name: Get window system protocol and DE name
          set_fact:
            wsp_name: '{{ ansible_env.XDG_SESSION_TYPE }}'
            de_name: '{{ ansible_env.XDG_CURRENT_DESKTOP | lower }}'

      tags: prepare

    # Base
    - name: Base pkgs
      block:
        - name: Flatseal
          block:
            - name: Install Flatseal
              flatpak:
                name: com.github.tchx84.Flatseal
                state: present

        - name: Extension Manager
          block:
            - name: Install Extension Manager
              flatpak:
                name: com.mattjakeman.ExtensionManager
                state: present
            - name: Configure Extension Manager
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=ipc \
                    --nosocket=x11 \
                    com.mattjakeman.ExtensionManager
              when: wsp_name=="wayland"
          when: de_name=="gnome"

        - name: Mission Center
          block:
            - name: Install Mission Center
              flatpak:
                name: io.missioncenter.MissionCenter
                state: present
          when: de_name=="gnome"

      become_user: '{{ user }}'
      tags: base

    # Media
    - name: Media pkgs
      block:
        - name: Amberol
          block:
            - name: Install Amberol
              flatpak:
                name: io.bassi.Amberol
                state: present
            - name: Configure Amberol permissions [Wayland]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=network \
                    --unshare=ipc \
                    --nosocket=x11 \
                    --nosocket=fallback-x11 \
                    io.bassi.Amberol
              when: wsp_name=="wayland"
            - name: Configure Amberol permissions [X11]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=network \
                    --nosocket=wayland \
                    io.bassi.Amberol
              when: wsp_name=="x11"
          when: ansible_distribution=="Fedora"

        - name: Rhythmbox
          block:
            - name: Install Rhythmbox
              flatpak:
                name: org.gnome.Rhythmbox3
                state: present
            - name: Configure Rhythmbox permissions [Wayland]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=network \
                    --unshare=ipc \
                    --nosocket=x11 \
                    --nosocket=fallback-x11 \
                    org.gnome.Rhythmbox
              when: wsp_name=="wayland"
            - name: Configure Rhythmbox permissions [X11]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=network \
                    --nosocket=wayland \
                    org.gnome.Rhythmbox
              when: wsp_name=="x11"
          when: ansible_distribution=="Debian"

        - name: Loupe
          block:
            - name: Install Loupe
              flatpak:
                name: org.gnome.Loupe
                state: present
            - name: Configure Amberol permissions [Wayland]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=ipc \
                    --nosocket=x11 \
                    --nosocket=fallback-x11 \
                    org.gnome.Loupe
              when: wsp_name=="wayland"
            - name: Configure Amberol permissions [X11]
              shell:
                cmd: >
                  flatpak override --user \
                    --nosocket=wayland \
                    org.gnome.Loupe
              when: wsp_name=="x11"
          when: ansible_distribution=="Fedora"

        - name: Celluloid
          block:
            - name: Install Celluloid
              flatpak:
                name: io.github.celluloid_player.Celluloid
                state: present
            - name: Configure Celluloid permissions [Wayland]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=network \
                    --unshare=ipc \
                    --nosocket=x11 \
                    --nosocket=fallback-x11 \
                    --nodevice=all \
                    --device=dri \
                    --nofilesystem=xdg-pictures \
                    io.github.celluloid_player.Celluloid
              when: wsp_name=="wayland"
            - name: Configure Celluloid permissions [X11]
              shell:
                cmd: >
                  flatpak override --user \
                    --unshare=network \
                    --nosocket=wayland \
                    --nodevice=all \
                    --device=dri \
                    --nofilesystem=xdg-pictures \
                    io.github.celluloid_player.Celluloid
              when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: media

    # Brave
    - name: Brave
      block:
        - name: Install Brave
          flatpak:
            name: com.brave.Browser
            state: present
        - name: Configure Brave permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                --nosocket=cups \
                --nofilesystem=host-etc \
                --nofilesystem=xdg-desktop \
                --nofilesystem=xdg-documents \
                --nofilesystem=xdg-videos \
                --nofilesystem=xdg-music \
                --system-no-talk-name=org.freedesktop.UPower \
                --system-no-talk-name=org.freedesktop.Avahi \
                com.brave.Browser
          when: wsp_name=="wayland"
        - name: Configure Brave permissions [X11]
          shell:
            cmd: >
              flatpak override --user \
                --nosocket=wayland \
                --nosocket=cups \
                --nofilesystem=host-etc \
                --nofilesystem=xdg-desktop \
                --nofilesystem=xdg-documents \
                --nofilesystem=xdg-videos \
                --nofilesystem=xdg-music \
                --system-no-talk-name=org.freedesktop.UPower \
                --system-no-talk-name=org.freedesktop.Avahi \
                com.brave.Browser
          when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: brave

    # Librewolf
    - name: Librewolf
      block:
        - name: Install Librewolf
          flatpak:
            name: io.gitlab.librewolf-community
            state: present
        - name: Configure Librewolf permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                --nosocket=x11 \
                --nosocket=fallback-x11 \
                --nosocket=pcsc \
                io.gitlab.librewolf-community
          when: wsp_name=="wayland"
        - name: Configure Librewolf permissions [X11]
          shell:
            cmd: >
              flatpak override --user \
                --nosocket=wayland \
                --nosocket=pcsc \
                io.gitlab.librewolf-community
          when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: librewolf

    # Bitwarden
    - name: Bitwarden
      block:
        - name: Install Bitwarden
          flatpak:
            name: com.bitwarden.desktop
            state: present
        - name: Configure Bitwarden permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                com.bitwarden.desktop
          when: wsp_name=="wayland"
        - name: Configure Bitwarden permissions [X11]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                --nosocket=wayland \
                com.bitwarden.desktop
          when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: bitwarden

    # Telegram
    - name: Telegram
      block:
        - name: Install Telegram
          flatpak:
            name: org.telegram.desktop
            state: present
        - name: Configure Telegram permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                --nosocket=x11 \
                --nofilesystem=host \
                --filesystem=home:ro \
                org.telegram.desktop
          when: wsp_name=="wayland"
        - name: Configure Telegram permissions [X11]
          shell:
            cmd: >
              flatpak override --user \
                --nosocket=wayland \
                --nofilesystem=host \
                --filesystem=home:ro \
                --env=IBUS_USE_PORTAL=1 \
                org.telegram.desktop
          when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: telegram

    # Spotify
    - name: Spotify
      block:
        - name: Install Spotify
          flatpak:
            name: com.spotify.Client
            state: present
        - name: Configure Spotify permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                --nofilesystem=xdg-pictures \
                com.spotify.Client
          when: wsp_name=="wayland"
        - name: Configure Spotify permissions [X11]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                --nosocket=wayland \
                --nofilesystem=xdg-pictures \
                com.spotify.Client
          when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: spotify

    # FreeTube
    - name: FreeTube
      block:
        - name: Install FreeTube
          flatpak:
            name: io.freetubeapp.FreeTube
            state: present
        - name: Configure FreeTube permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=ipc \
                io.freetubeapp.FreeTube
          when: wsp_name=="wayland"

      become_user: '{{ user }}'
      tags: freetube

    # LibreOffice
    - name: LibreOffice
      block:
        - name: Install LibreOffice
          flatpak:
            name: org.libreoffice.LibreOffice
            state: present
        - name: Configure LibreOffice permissions [Wayland]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=network \
                --unshare=ipc \
                --nosocket=x11 \
                --nosocket=fallback-x11 \
                --nosocket=pulseaudio \
                --socket=cups \
                --nofilesystem=host \
                --filesystem=home \
                org.libreoffice.LibreOffice
          when: wsp_name=="wayland"
        - name: Configure LibreOffice permissions [X11]
          shell:
            cmd: >
              flatpak override --user \
                --unshare=network \
                --nosocket=wayland \
                --nosocket=pulseaudio \
                --socket=cups \
                --nofilesystem=host \
                --filesystem=home \
                org.libreoffice.LibreOffice
          when: wsp_name=="x11"

      become_user: '{{ user }}'
      tags: libreoffice
