---
- name: Install gaming packages
  hosts: localhost

  vars_files:
    - _vars_base.yml

  pre_tasks:
    - name: Preparatory steps
      block:
        - name: Install flatpak
          include_tasks: '{{ ansible_path }}/_install_flatpak.yml'

        - name: Install gamemode
          dnf:
            name: gamemode
            state: latest
            update_cache: true
            install_weak_deps: false
          become: true
          when: ansible_distribution=="Fedora"

      tags: prepare

  tasks:
    # Bottles
    - name: Install Bottles
      block:
        - name: Install Bottles
          flatpak:
            name: com.usebottles.bottles
            state: present
        - name: Configure permissions for Bottles
          shell:
            cmd: >
              flatpak override --user \
                --filesystem=xdg-data/applications \
                com.usebottles.bottles
      tags: bottles

    # Lutris
    - name: Install Lutris
      flatpak:
        name: net.lutris.Lutris
        state: present
      tags: lutris

    # Steam
    - name: Install Steam
      flatpak:
        name: '{{ item }}'
        state: present
      with_items: [com.valvesoftware.Steam, com.github.Matoking.protontricks]
      tags: steam
